* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

/* Header */
header {
    padding: 15px;
    padding-bottom: 45px;
    text-align: left;
    background: black; 
    color: #fff;   
}

header h1 {
    display: inline-block;
    font-size: 48px;
}


header, main , footer {
    text-align: center;
}

/* Nav Bar */
nav {
    display: flex;
    background-color: black;
    padding: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Main Section */
main {
    display:flex;
    flex-wrap: wrap;
}

/* About Me Section */
.about-me {
    background-color: white;
    padding: 20px;
}

/* Work Section */
.work {
    background-color: gray;
    padding: 20px;
    width: 100%;  
}


.w-image{
    flex: 1 0 200px;
    background-color: gray;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 20%;
    float: left;
}

/* First application image */
#first {
    height: 400px;
    width: 845px;
}

/* Contact Section */
.contact {
    padding: 20px;
}

/* Footer Section */
footer {
    background-color: black;
    color: white
}

footer ul li {
    display: inline-block;
    text-align: center;
    margin: 10px;
    margin-right: 40px;
    font-size: 18px;
}

footer a {
    color: white;
    text-decoration: none;
    text-align: center;
}

/* Media screen */
@media screen and (max-width: 768px) {

    nav ul li {
        font-size: 30px;
    }

    footer ul li{
        font-size: 30px;
    }
}



