* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
}

header {
    padding: 15px;
    text-align: left;
    /* change color */
    background: #13293d; 
    color: #fff;   
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

main , footer {
    text-align: center;
}

.contact h2 ul li {
    display: inline-block;
    margin-left: 25px;
}